body {
    background-color: #eeeeee;
    font-family: 'Lexend Deca', sans-serif;
    margin: auto;
    color: #47555e;
  }
.btn {
    background-color: #303841;
    color: #eeeeee;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 8px 3px;
    cursor: pointer;
    border: 2px solid #303841;
  }
.btn:hover {
    background-color: #eeeeee;
    color: #7aa5d2;
    border: 2px solid #7aa5d2;
  }
.btn {
    border-radius: 4px;
  }

.edit {
    background-color: #303841;
    color: #eeeeee;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 8px 3px;
    cursor: pointer;
    border: 2px solid #303841;
  }
.edit:hover {
    background-color: #eeeeee;
    color: #7aa5d2;
    border: 2px solid #7aa5d2;
  }
.edit {
    border-radius: 4px;
  }

.sbmt {
    background-color: #303841;
    color: #eeeeee;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 8px 3px;
    cursor: pointer;
    border: 2px solid #303841;
  }
.sbmt:hover {
    background-color: #eeeeee;
    color: #7aa5d2;
    border: 2px solid #7aa5d2;
  }
.sbmt {
    border-radius: 4px;
  }

.input[type=file]::-webkit-file-upload-button {
    background-color: #303841;
    color: #eeeeee;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border: 2px solid #303841;
  }
.input[type=file]::-webkit-file-upload-button:hover {
    background-color: #eeeeee;
    color: #7aa5d2;
    border: 2px solid #7aa5d2;
  }
.input[type=file]::-webkit-file-upload-button{
    border-radius: 15px;
  }
.input {
    background-color: #f1f6fa;
    border: 2px solid #47555e;
    border-radius: 10px;
  }

.box {
    text-align: center;
  }

.warning {
    background-color: #d7e4f1;
    border-left: 6px solid #7aa5d2;
  }

::after table {
    border-collapse: collapse;
}
table th {
    background-color: #303841;
    color: #f7f7f7;
    border-radius: 2px;
}
table td {
    background-color: #eeeeee;
    border: 1px solid #47555e;
    border-radius: 2px;
    padding: 10px 20px;
}
table tr:hover td {
    background-color: #d7e4f1;
}